
h1, h2, h3, h4, h5, p, a {
  font-family: museo;
  color: white;
}
body {
  background: url(https://github.com/FloraNotFauna/web_1_project_2/blob/master/assets/textures/fabric_plaid.png?raw=true);
  background-size: cover;
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: ;
}
nav {
  display: flex;
  min-height: 50px;
  max-height: 80px;
  justify-content: space-between;
  padding: 1.5% 2.5% 1.5%;
}
.greylinks {
  color: grey
}
#left {
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  Font-family: museo, sans-serif;
  text-transform: uppercase;
}
#right {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: flex-end;
  justify-content: space-around;
}
#icons {
  min-width: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 0 10px 0;
}
.icon {
  width: 40px;
  padding: 0 10px;
}
header {
  display: flex;
  justify-content: center;
  min-height: 450px;
  max-height: 
}
#whitebox {
  background-color: white;
  width: 95%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#slider {
  width: 97%;
  height: 400px;
  background: url(https://static1.squarespace.com/static/5af1bd791aef1d143f85e67e/t/5af214df1ae6cfd5efc498e4/1525814499920/homeimage03.jpg?format=1500w);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
}
.arrow {
  width: 50px;
  height: 50px;
  position: absolute;
}
#rarrow {
 right: 30px;
}
#larrow {
  left: 30px;
}
#caption {
  width: 97%;
  height: 50px;
  background-color: grey;
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  font-size: 1.5em;
}
#captiontext {
  padding: 0 10px;
}
#sectionone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  min-height: 500px;
  max-height: 3000px;
  padding: 10px 0 0 0;
  z-index: -1;
}
#grid {
  width: 95%;
  max-height: 2000px;
  min-height:800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 50px 0;
}
.gridrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}
h2 {
  color: grey;
  padding: 20px 0 0 0;
  font-size: 2em;
}
.recentpost {
  width: 20%;
  min-height: 200px;
  max-height: 300px;
  background-color: black;
}
#button {
  background-color: grey;
  width: 200px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#copynav {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}
#bound {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 600px 0 0 0;
  
}
#twitter {
  width: 7000px;
  height: 50px;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}
#bird {
  width: 30px;
  height: 30px;
}
footer {
  display: flex;
  justify-content: space-around;
   background: url(https://github.com/FloraNotFauna/web_1_project_2/blob/master/assets/textures/honey_im_subtle.png?raw=true);
  padding: 40px 0 0 40px;
  position: relative;
}
#getready{
  padding: 10px;
}
#bottomleft {
  height: 300px;
  width: 400px;
  background: url();
  display: flex;
  flex-direction: column;
}
h3, h4 {
  color: white;
  line-height;;
}
#searchbar {
  background-color: white;
  width: 33%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
}
#mag {
  width: 30px;
  height: 40px;
  padding: 10px 0 0 0;
}
 h5 {
  color: grey;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: .3;
}
.smallpost {
  width: 100px;
  height: 80px;
  background-color: black;
}
#gridtwo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height:200px;
}
.gridrowtwo {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
#bottommid {
  width: 400px;
  display: flex;
  flex-direction: column;
  height: 300px;
  
}
#bottomright {
  width: 400px;
  height: 300px;
  
  display: flex;
  flex-direction: column;
}
#post1 {
  background: url(https://farm8.staticflickr.com/7820/33460049098_22393554d0_z.jpg);
  background-size: contain;
}
#post2 {
  background: url(https://farm8.staticflickr.com/7866/33462154278_9decccf8ca_z.jpg);
  background-size: contain;
}
#post3 {
  background: url(https://farm8.staticflickr.com/7833/33464671228_d36cbf71e6.jpg);
  background-size: contain;
}
#post4 {
  background: url(https://farm8.staticflickr.com/7874/33462125938_91dc30f220.jpg);
  background-size: contain;
}
#post5 {
  background: url(https://farm8.staticflickr.com/7833/46425014365_48a891e4c5.jpg);
  background-size: contain;
}
#post6 {
  background: url(https://farm8.staticflickr.com/7888/40370442803_2f2193571c.jpg);
  background-size: contain;
}
#post7 {
  background: url(https://farm8.staticflickr.com/7801/32399289147_1862200f12.jpg);
  background-size: contain;
}
#post8{
  background: url(https://farm8.staticflickr.com/7880/33459791778_d10b4fee3a.jpg);
  background-size: contain;
}
#post9 {
  background: url(https://farm8.staticflickr.com/7815/40374140073_2181d4bec8.jpg);
  background-size: contain;
}
#post10 {
  background: url(https://farm8.staticflickr.com/7899/40375495353_969bf91314.jpg);
  background-size: contain;
}
#post11 {
  background: url(https://farm8.staticflickr.com/7847/47339225481_10dca7e598.jpg);
  background-size: contain;
}
#post12{
  background: url(https://farm8.staticflickr.com/7901/32400012037_e597a390e8.jpg);
  background-size: contain;
}
#smallpost1 {
  background: url(https://farm8.staticflickr.com/7916/32394964417_f548c8e890.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
#smallpost2 {
  background: url(https://farm8.staticflickr.com/7925/40370726943_2111a6792d.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
#smallpost3 {
  background: url(  https://farm8.staticflickr.com/7812/33460497988_7cbb19c92b.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
#smallpost4 {
  background: url(https://farm8.staticflickr.com/7819/46423126165_d91a6d54bb.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
#smallpost5 {
  background: url(https://farm8.staticflickr.com/7849/46425334385_f1d550e857.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
#smallpost6 {
  background: url(https://farm8.staticflickr.com/7880/47286931492_5d6d4c83bb.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
#smallpost7 {
  background: url(https://farm8.staticflickr.com/7909/40376416953_0687b71c23.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
#smallpost8 {
  background: url(https://farm8.staticflickr.com/7800/46423902375_066c0e28c5.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
